/*font-face {
  font-family: NomadMedium;
  src: url(./SF_Pro/SF-Pro-Display-Medium.otf);
}*/

* {
  font-family: 'Raleway', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLogo{
  width: 25px;
  height: 25px;
  padding: 1%;
  position: relative;
  top: 20%;
  left: 8%;
  background-color: white;
  border-radius: 50%;
}

.title {
  text-align: center;
  margin-left: 135px;
  padding-top: -10%;
  margin-top: 0;
  color: white !important;
  text-decoration: none !important;
  font-size: 160% !important;
  position: absolute;
  left: -12%;
  top: 30%;
  font-weight: 700;

}

.conversions, .drinks, .commtips, .reltips {
  position: absolute;
  top: 7%;
  width: 100%;
}

a {
  text-decoration-style: none !important;
}


