.benvenuto {
  position: absolute;
  top: 10%;
  border: 1px solid;
  width: 90%;
  margin-left: 5%;
  height: 20%;
  font-size: 20px;
  font-weight: 700;
  background: url('https://i.imgur.com/AecFqB4.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  object-fit: contain;
  color: white;
  text-align: center;
}

.bien {
  position: absolute;
  top: 19%;
  left: 12%;

}

.ptrans {
  position: absolute;
  top: 30%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.pcomm {
position: absolute;
  top: 35%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.pfood {
position: absolute;
  top: 40%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.psafety {
position: absolute;
  top: 45%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.pbasic {
position: absolute;
  top: 50%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.pmoney {
position: absolute;
  top: 55%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.pculture {
position: absolute;
  top: 60%;
  border: 1px solid;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.dropdown, option {
  position: absolute;
  top: 75%;
  right: 3%;
  width: 15%;
  background-color: white;
  color: #7CC2CC;

}

@brand-primary: #29b5a8;
@brand-secondary: #ff8300;
@gray: #6b7381;
@gray-light: lighten(@gray, 15%);
@gray-lighter: lighten(@gray, 30%);;

@btn-default-color: @gray;
@btn-default-bg: @gray-lighter;


@toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: .75rem;



.jumbotron {
  background: @gray;
  color: @gray-lighter;
  h1 {
    color: #fff;
  }
}
.example {
  margin: 4rem auto;
  > .row {
    margin-top: 2rem;
    height: 5rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid fade(@gray-lighter,50%);
    &:first-of-type {
      border:none;
      height: auto;
      text-align: left;
    }
  }
  h3 {
    font-weight: 400;
    > small {
      font-weight: 200;
      font-size: .75em;
      color: @gray-light;
    }
  }
  h6 {
    font-weight: 700;
    font-size: .65rem;
    letter-spacing: 3.32px;
    text-transform: uppercase;
    color: @gray-lighter;
    margin: 0;
    line-height:5rem;
  }
  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
}

.toggle-mixin(@size: @toggle-default-size; @margin: @toggle-default-label-width; @font-size: @toggle-default-font-size;) {
  // color: @color;
  // background: @bg;
  margin: 0 @margin;
  padding: 0;
  position: relative;
  border: none;
  height: @size;
  width: @size * 2;
  border-radius: @size;

  &:focus,
  &.focus {
    &,
    &.active {
      outline: none;
    }
  }

  &:before,
  &:after {
    line-height: @size;
    width: @margin;
    text-align: center;
    font-weight: 600;
    // color: @color;
    font-size: @font-size;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  &:before {
    content: 'Off';
    left: -@margin;
  }
  &:after {
    content: 'On';
    right: -@margin;
    opacity: .5;
  }

  > .handle {
    position: absolute;
    top: (@size * .25) / 2;
    left: (@size * .25) / 2;
    width: @size * .75;
    height: @size * .75;
    border-radius: @size * .75;
    background: #fff;
    transition: left .25s;
  }
  &.active {
    transition: background-color .25s;
    > .handle {
      left: @size + ((@size * .25) / 2);
      transition: left .25s;
    }
    &:before {
      opacity: .5;
    }
    &:after {
      opacity: 1;
    }
  }

  &.btn-sm {
    &:before,
    &:after {
      line-height: @size - 2px;
      color: #fff;
      letter-spacing: .75px;
      left: @size * .275;
      width: @size * 1.55;
    }
    &:before {
      text-align: right;
    }
    &:after {
      text-align: left;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }

  &.btn-xs {
    &:before,
    &:after {
      display: none;
    }
  }
}

.col-sm-5 {
  position: absolute;
  top: 60%;
  right: 5%;
  background-color: black;
}

