.benvenuto {
/*  position: absolute;
  top: 10%;
  border: 1px solid;
  width: 90%;
  margin-left: 5%;
  height: 20%;
  font-size: 20px;
  font-weight: 700;
  background: url('https://i.imgur.com/AecFqB4.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  object-fit: contain;
  color: white;
  text-align: center;*/
}

.bien {
  position: absolute;
  top: 9%;
  width: 90%;
  left: 5%;


}

.ptrans {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}

.pcomm {
position: absolute;
  top: 42%;
  left: 5%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}

.pfood {
position: absolute;
  top: 48%;
  left: 5%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}
.psafety {
position: absolute;
  top: 54%;
  left: 6%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}
.pbasic {
position: absolute;
  top: 61%;
  left: 5%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}

.pmoney {
position: absolute;
  top: 68%;
  left: 5%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}
.pculture {
position: absolute;
  top: 75%;
  left: 5%;
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  font-size: 17px;
}

.dropdown, option {
  position: absolute;
  top: 75%;
  right: 3%;
  width: 15%;
  background-color: white;
  color: #7CC2CC;

}



.col-sm-5 {
  position: absolute;
  top: 60%;
  right: 5%;
  background-color: black;
}

.download {
  position: absolute;
  top: 32%;
  right: 0%;
  font-size: 130%;

  color: gray;
}

.building, .bus, .talking, .wine, .dinero, .earth{
  width: 10%;
  height: 10%;
  margin-right: 5%;
}

.safety {
  width: 8%;
  height: 8%;
  margin-right: 8%;
}

.tealbutton {
  height: 5%;
  width: 30%;
  padding-left: 5%;
   position: relative;
  top: 30% !important;
  right: 0%;
}



